Manuel Fuioso möchte sein erstes Pizza Geschäft in Brandenburg an der Havel aufbauen.
Manuel Fuioso möchte mit Hilfe der Pizzeria Software seine Gerichte bzw. Speisekarte verwalten.
Er möchte unterschiedliche Gerichte in seinen Geschäften anbieten:
• Pizza
• Pasta
• Dessert, darunter fallen auch Getränke.
Für ein Gericht möchte er folgende Dinge angeben können:
• Größe in Zentimetern oder als Beschreibung (klein, mittel, groß)
• Name
• Preis in Euro
• Zutaten, jede Zutat hat einen Namen und einen Preis
• Bild (optional)
Alle Gerichte bilden eine Speisekarte. Der Manager möchte auch Gerichte wieder löschen bzw. von der Speisekarte nehmen können.